#{ Template for anki apkg converter #}

#{ list of model elements #}
#{ model element list #}

#{

some example or macro
the tool will have some example about using macro
the tool should provide some macro to help user easy to customize they template
the macro will implement separate and can import

#}
